#ponify-logo {
	background: url("chrome://ponify/skin/images/logo.jpg");
	height: 32px;
	width: 32px;
}

#ponify-toolbar-button {
	list-style-image: URL("chrome://ponify/skin/images/logo.jpg");
}

#ponify-status-bar-icon {
	width: 83px;
	margin: 0 5px;
}

.ponify-selected {
	outline: 2px solid red !important;
}